@model Chemistryquiz2.Models.Quizze

@{
    ViewBag.Title = "Index";
}



<section id="quizIndex">
    <section>
        <div class="menu1 row">

            <br />
            <a href="@Url.Action("Quiz", "Home", new {quizId=1})" title="Chemistry Quiz">
             <img src="~/Content/Images/main-picture1.jpg" alt="Science is for winners!" />
            <p class="text-effects menuText quizIndexText">Test your general knowledge in Chemistry!</p>
            </a>
        </div>

        
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
</section>



